.card:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ffffff;
    z-index: -2;
    filter: blur(40px);
}

.card:before,
.card:after {
    background: linear-gradient(235deg, #d33b3b, #060c21, #2528e4)
}

.card-header {
    background-color: rgb(55, 55, 109);
}

.btn-primary {
    background-color: rgb(55, 55, 109)
}